* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: "pupies";
    src: url(./images/save.pdf);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0px;
}

.link {
    display: flex;
    gap: 30px;
    align-items: center;

}

.link li {
    list-style: none;
}

.link li a {
    text-decoration: none;
    font-family: "pupies";
    color: black;
    text-transform: uppercase;


}

.link button {
    border: none;
    outline: none;
    background-color: red;
    padding: 10px 30px;
    border-radius: 3px;
}

.link button a {
    text-decoration: none;
    font-family: "pupies";
    color: white;
    text-transform: uppercase
}

.icon {
    display: none;
}

/* nav section */
@media screen and (max-width:480px) {
    .link {
        display: none;
    }

    .icon {
        display: block;
    }


    .hero{
        flex-direction: column;
    }
    .content{
        width: 100%;
        padding: 0px 10px;
        align-items: center;
    }
    .heroimg{
        width: 100px;
        padding: 0px 30px;
    }
    .rectangle{
        display: none;
    }
    
}
@media screen and (min-width:481px) and (max-width:768) {
    .hero{
        flex-direction: column;
    }
    .content{
        width: 100%;
        padding: 0px 10px;
        align-items: center;
    }
    .heroimg{
        width: 100px;
        padding: 0px 30px;
    }
    
}

/* hero */
.hero {
    width: 100%;
    display: flex;

    padding: 70px 0px;

    align-items: center;
    gap: 70px;
    justify-content: center;
    position: relative;
}
.heroimg{
    width: 30%;
}
.heroimg img{
    width: 100%;
}

.content {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: "popies";
}


.content span {
    font-size: 30px;
    font-family: "popies";
    font-weight: 700%;
}

.content p {
    color: rgb(145, 148, 162);
}

.content .btn button {
    outline: none;
    border: none;
    background: transparent;
    font-size: "popies";
    padding: 10px 20px;
    border-radius: 5px;
    

}
.btn{
    display: flex;
    gap: 20px;
}

.btn .first {
    background-color: rgb(82, 103, 223)  !important;
    color: white;
}

.btn .second {
    background-color: rgb(247, 247, 247) !important;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
}
.btn .first:hover{
    color: black;
    background-color: rgb(247, 247, 247) !important;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);

}
.btn .second:hover{
     background-color: rgb(82, 103, 223)  !important;
    color: black;
  
}
.rectangle{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    display: block;
    border-bottom-left-radius: 999px;
    border-top-left-radius: 999px;
    position: absolute;
    right: 0%;
    top: 50%;
    z-index: -5;

}
.firsthero{
   width: 100%;
    display: flex;

    padding: 70px 0px;

    align-items: center;
    gap: 70px;
    justify-content: center;
}
.
/* end */
/* feature start */
.features{
    width: 100%;
    gap: 80%;
    
}
.featurescontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 20px;
    font-family: "popies";
}
.featurescontent h1{
    font-family: "popies";
    font-size: 30px;
    font-weight: 700;

}
.featurescontent p{
    width: 50%;
    color: rgb(145, 148, 162);
    text-align: center;
    align-items: center;
}
/*feature 1  */
.features1{
    flex-direction: column;
    width: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    
    gap: 20px;
}  
.features1 .img1{
    width: 40%;
    
} 
.features1 .img img{
      width: 100%;
} 


.btnen #third {
    background-color: rgb(82, 103, 223)  !important;
    color: white;
     outline: none;
    border: none;
    background: transparent;
    font-size: "popies";
   padding: 10px 20px;;
    border-radius: 5px;
}
.btnen #third a{
    text-decoration: none;
    color: white;
    margin: top;

}
.btnen #third:hover{
    color: black;
    background-color: rgb(247, 247, 247) !important;
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);

}

.content{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.second{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
.rounded{
width: 40%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    display: block;
    border-bottom-right-radius: 999px;
    border-top-right-radius: 999px;
    position: absolute;
    left: 0%;
    top: 30%;
    z-index: -5;
}
/* 2 */
.hero  {
    width: 100%;
    /* display: flex; */

    padding: 70px 0px;

    align-items: center;
    gap: 70px;
    justify-content: center;
    position: relative;
}
.content {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "popies";
    gap: 20px;
}
.hero .img2{
    width: 40%;

}
.heroimg .img2{
    width: 100%;
    
}
  /* .content .btns button {
    
    align-items: center;
    outline: none;
    border: none;
    background: transparent;
    font-size: "popies";
    padding: 10px 20px;
    border-radius: 5px;

} */
.rectangle{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    display: block;
    border-bottom-left-radius: 999px;
    border-top-left-radius: 999px;
    position: absolute;
    right: 0%;
    top: 50%;
    z-index: -5;

}
.btning{
    /* color: white; */
    background-color: rgb(82, 103, 223)  !important;
     outline: none;
    border: none;
    background: transparent;
    font-size: "popies";
   padding: 10px 20px;;
    border-radius: 5px;
    border: none;
}
.btning a{
    text-decoration: none;
    background-color: rgb(82, 103, 223)  !important;
    
    color: black;
    outline: none;
    border: none;
}
/* 3 */
.hero  {
    width: 100%;
    display: flex;

    padding: 70px 0px;

    align-items: center;
    gap: 70px;
    justify-content: center;
    position: relative;
}
.content {
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: "popies";
    gap: 30px;
}
.hero .img2{
    width: 40%;

}
.heroimg .img2{
    width: 100%;
    
}

.content .btns button {
 align-items: center;
    outline: none;
    border: none;
    background: transparent;
    font-size: "popies";
    padding: 10px 20px;
    border-radius: 5px;

}
/* extension */
.browser{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.chrome{
    box-shadow:  0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.two{
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.chromeimg{
    justify-content: center;
    align-items: center;
    display: flex;
}
.extension{
    background-color: aliceblue;
}
.extensioncontent{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 20px;
    font-family: "popies";
}








    
    


    